@font-face {
  font-family: 'DISKOTEQUE';
  src: local('DISKOTEQUE'), url('../../fonts/DISKOTEQUE.TTF');
}

.white-text {
  color: white !important;
  margin-bottom: 2%;
}

.fill-page {
  width: 100% !important;
  animation-name: slide-in !important;
  animation-duration: 4s;
  transition: transform .5s;
}

.main {
  padding: 0 !important;
}

#coloured-cards {
  text-align: center !important;
}

#center-cards {
  display: inline-block !important;
}

.diskoteque {
  font-family: DISKOTEQUE, serif;
}

@keyframes slide-in {
  from {
    left: -100%;
    opacity: 0%;
  }

  to {
    left: 0;
    opacity: 100%;
  }
}