@font-face {
  font-family: 'Antro_Vectra_Bolder';
  src: local('Antro_Vectra_Bolder'), url('../../fonts/Antro_Vectra_Bolder.otf');
}
.card-title {
  //font-family: 'Antro_Vectra_Bolder', serif;
  font-size: 2.5rem;
}

#login-title {
  color: white;
}

.btn {
  margin-right: auto;
  margin-left: auto;
}

.btn-link {
  margin-right: auto;
  margin-left: auto;
}

.login-container {
  margin-top: 10%;
}

.card-register {
  background-color: #00000088;
}

#btn-link {
  margin-top: 3%;
  color: white;
}