@font-face {
  font-family: 'DISKOTEQUE';
  src: local('DISKOTEQUE'), url('../../../fonts/DISKOTEQUE.TTF');
}

.card-title {
  //font-family: DISKOTEQUE, serif;
}

.post-wrapper .section {
  background-color: #000000AA !important;
}

.main {
  background-color: #00000088 !important;
}

.diskoteque {
  margin-left: auto;
  margin-right: auto;
}
