.catalog-page {
  margin: 1% auto;
  display: block;
  width: 80%;
  border: 1px solid black;
  text-align: center;
  p {
    margin: 4% 4%;
  }
}

.soundcloud-wrap {
  width: 30%;
  display: inline-block;
  margin: 1%;
  border: 1px solid gray;
}

.blog-wrap {
  width: 30%;
  display: inline-block;
  margin: 1%;
  border: 1px solid gray;
}

.band-camp-wrap {
  width: 30%;
  display: inline-block;
  margin: 1%;
  border: 1px solid gray;
}