.catalog-page {
  margin: 1% auto;
  display: block;
  width: 80%;
  border: 1px solid black;
  text-align: center;
  p {
    margin: 4% 4%;
  }
}

.blog-link {
  display: block;
  position: relative;
  width: 90%;
  padding: 2%;
  margin: 2% auto;
  text-align: center;
  border: 1px solid #9e9e9e;
  text-transform: uppercase;
  background: black;
  color: white;
  cursor: pointer;
}
.soundcloud-wrap {
  width: 30%;
  display: inline-block;
  margin: 1%;
  border: 1px solid gray;
}

.blog-wrap {
  width: 30%;
  display: inline-block;
  margin: 1%;
  border: 1px solid gray;
}

.band-camp-wrap {
  width: 30%;
  display: inline-block;
  margin: 1%;
  border: 1px solid gray;
}