.page-header {

  #dropdown-holder {
    width: 8%;
    position: relative;
    display: inline-block;
  }

  .social-icon {
    border: 1px solid darkgray;
  }

  .DropDownItem {
    height: 2rem;
  }

  .dropdown-menu {
    background-color: transparent;
  }

}
