@font-face {
  font-family: 'Antro_Vectra_Bolder';
  src: local('Antro_Vectra_Bolder'), url('../../fonts/Antro_Vectra_Bolder.otf');
}

.login-row {
  margin-top: 20%;
}


.page-header {
  animation-name: slide-in;
  animation-duration: 2s;
  transition: transform .5s;

}
#landing-title {
  font-size: 5rem;
  font-family: Antro_Vectra_Bolder, serif;
}



@keyframes slide-in {
  from {
    left: -100%;
    opacity: 25%;
  }

  to {
    left: 0;
    opacity: 100%;
  }
}