@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");

#dropdown-transparent {
  background:transparent !important;
}

#navbar-brand {
  font-size: 2rem;
}

.title-link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
