.contact-text {
  color: white;
}

#contact-input {
  background-color: #00000088 !important;
}

.contact-container {
  margin-top: 5%;
  background-color: #00000088;
  margin-bottom: 10%;
}

.btn-round {
  margin-top: 5%;
  margin-bottom: 10%;
}

.contact-input {
  background-color: #00000088;
  margin-bottom: 5%;
}